<section id="container">

  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
  </section>

  <section class="jumbotron">

   <%= form_for :card, url: check_card_path, method: "post" do |f| %> 

        <% if @card.errors.any? %>
            <% @card.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger"><%= msg %></div>
            <% end %>
        <% end %>

        <div class='text'>
          <h4>Original</h4>
          <h5><%= @card.original_text %></h5>
        </div>
        <div class='text'>        
          <h4>Your translation</h4>
          <h5><%= f.text_area :user_translated_text, value: "" %></h5>
        </div>
            
        <div>
          <%= f.submit("Check Card") %>
        </div>
    <% end %>

  </section>

</section>